# Whitelist
!.gitkeep
!README.md
!.gitignore
!/Code
!MiniProject/Results/Plots

# Blacklist
*~
*.tmp
#comment
*.py[co]
Sandbox
*/Results/*
.vscode
*.pdf
*~
*.aux
*.dvi
*.log
*.nav
*.out
*.snm
*.toc
Week2/Data/JustOaksData.csv
Week2/Data/bodymass.csv
Week3/Code/.Rhistory
*.Rhistory