*~
*.tmp
#comment
*.py[co]
Week1/Results/image.png
Week1/Results/output.txt
Week1/Results/test.csv
Week1/Sandbox
Week1/Results/1800.txt
Week1/Results/1801.txt
Week1/Results/1802.txt
Week1/Results/1803.txt
Week2/Sandbox
.vscode